<div class="register-header">
    <h2>Register Page</h2>
</div>
<div class="container">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Your Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="name" name="name" required>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" required>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" required>
        </div>
        
        <div class="form-group">
            <label for="phoneNo">Phone Number</label>
            <input type="tel" class="form-control" id="phoneNo" [(ngModel)]="phoneNo" name="phoneNo" required>
        </div>

        <div class="form-group">
            <label for="dob">Date of Birth</label>
            <input type="date" class="form-control" id="dob" [(ngModel)]="dob" name="dob" required>
        </div>

        <div class="form-group">
            <label for="age">Age</label>
            <input type="number" class="form-control" id="age" [(ngModel)]="age" name="age" required>
        </div>

        <button type="submit" class="btn btn-amazon">Register</button>
    </form>
</div>
