/* Style for the register header */
.register-header {
    text-align: center;
}

/* Style for the container */
.container {
    width: 40%; /* Reduced width */
    margin: 0 auto; 
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
}

/* Style for form groups */
.form-group {
    margin-bottom: 20px;
}

/* Style for labels */
label {
    font-weight: bold;
}

/* Style for form inputs */
.form-control {
    width: calc(100% - 20px); 
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style for submit button */
.btn-amazon {
    background-color: #007bff; /* Amazon's button color */
    color: #fff;
    border: none;
    padding: 8px 16px; /* Reduced button size */
    font-size: 16px; /* Reduced font size */
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto; /* Center the button */
}

/* Style for submit button on hover */
.btn-amazon:hover {
    background-color: #0056b3; /* Darker shade of blue on hover */
}
