<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Welcome to Our Banking Portal</h2>
        <p>Manage your finances conveniently with our comprehensive banking services.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card card-button bg-light">
          <a routerLink="/account" class="card-link">
            <h3 class="card-title">Check Balance</h3>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-button bg-light">
          <a routerLink="/history" class="card-link">
            <h3 class="card-title">Transaction History</h3>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card card-button bg-light">
          <a routerLink="/transfer" class="card-link">
            <h3 class="card-title">Transfer Money</h3>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-button bg-light">
          <a routerLink="/profile" class="card-link">
            <h3 class="card-title">User Profile</h3>
          </a>
        </div>
      </div>
    </div>
  </div>
  