.container {
    margin-top: 50px;
  }
  
  .card {
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    background-color: #f8f9fa;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .card-button {
    cursor: pointer;
  }
  
  .card-title {
    font-size: 24px;
    margin-bottom: 0;
    color: #343a40;
  }
  
  .card-link {
    color: #007bff;
    text-decoration: none;
  }
  
  .bg-light {
    background-color: #f8f9fa;
  }
  